
{form name="database_form"}

<table class="ow_table_1 ow_form ow_stdmargin">
    <tbody>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="name"}
        </td>
        <td class="ow_value">
            {input name="name"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="name"}
            {error name='name'}
        </td>
    </tr>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="surname"}
        </td>
        <td class="ow_value">
            {input name="surname"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="surname"}
            {error name='surname'}
        </td>
    </tr>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="email"}
        </td>
        <td class="ow_value">
            {input name="email"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="email"}
            {error name='email'}
        </td>
    </tr>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="age"}
        </td>
        <td class="ow_value">
            {input name="age"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="age"}
            {error name='age'}
        </td>
    </tr>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="img"}
        </td>
        <td class="ow_value">
            {input name="img"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="img"}
            {error name='img'}
        </td>
    </tr>
    </tbody>
</table>

<div class="clearfix ow_stdmargin">
    <div class="ow_right">
        {submit name="submit"}
    </div>
</div>

{/form}