<div style="margin-bottom: 10px;">
    какойто текст

</div>



{form name="database_form"}

<table class="ow_table_1 ow_form ow_stdmargin">
    <tbody>
    <tr class="ow_tr_first ow_alt1">
        <td class="ow_label">
            {label name="text"}
        </td>
        <td class="ow_value">
            {input name="text"}
        </td>
        <td class="ow_desc ow_small">
            {desc name="text"}
            {error name='text'}
        </td>
    </tr>

    </tbody>
</table>

<div class="clearfix ow_stdmargin">
    <div class="ow_right">
        {submit name="submit"}
    </div>
</div>

{/form}